{% extends "diff_header.html" %}

{% block body %}
<form action="/update_product/{{producto.0}}" method="post">
    <div>
        <label>Nombre del producto</label>
        <input value="{{producto.1}}" type="text" placeholder="Nombre del producto" name="nombre">
    </div>
    <div>
        <label>URL de la foto del producto</label>
        <input value="{{producto.2}}" type="text" placeholder="URL de la foto del producto" name="foto">
    </div>
    <div>
        <label>Cantidad de stock de este producto</label>
        <input value="{{producto.3}}" type="text" placeholder="cantidad del producto" name="cantidad">
    </div>
    <div>
        <label>Precio del producto</label>
        <input value="{{producto.4}}" type="text" placeholder="precio" name="precio">
    </div>
    <div>
        <label>Descripccion del producto</label>
        <textarea value="{{producto.5}}" name="descripcion" id=""></textarea>
    </div>
    <button type="submit">Añadir</button>
</form>
{% endblock %}