{% extends "diff_header.html" %}

{% block body %}
{% block body %}
{% if productos %}
    <table>
        <th>
            <td>fullname</td>
            <td>url de la foto</td>
            <td>cantidad</td>
            <td>precio</td>
            <td>descripcion</td>
        </th>
        {% for producto in productos %}
            <tr>
                <td>{{producto.1}}</td>
                <td>{{producto.2}}</td>
                <td>{{producto.3}}</td>
                <td>{{producto.4}}</td>
                <td>{{producto.5}}</td>
            </tr>
            <!-- no hace nada -->
            <button>Comprar</button> 
            <!-- No hace nada -->
        {% endfor %}
    </table>
{% else %}
<h1>No hay ningun producto para mostrar...</h1>
{% endif %}
{% endblock %}

{% endblock %}